<section class="listing">
    <img
      class="listing-photo"
      [src]="housingLocation.photo"
      alt="Exterior photo of {{ housingLocation.name }}"
      crossorigin
    />
    <h2 class="listing-heading">{{ housingLocation.name }}</h2>
    <p class="listing-location">{{ housingLocation.city }}, {{ housingLocation.state }}</p>
    <a [routerLink]="['/details', housingLocation.id]">More Details</a>  <!-- router link anchor tag -->
    <!--The routerLink directive enables Angular's router to create dynamic links in the application. 
        The value assigned to the routerLink is an array with two entries: the static portion of the path and the dynamic data.-->
  </section>